:root {
  --ggs: 0.7;
}

progress[data-fulfilled="true"] {
  accent-color: green;
}

.cell-module-manual {
  font-style: italic;
}

.cell-module-passed {
  font-style: italic;
  font-weight: lighter;
}

/* Icons */
.gg-remove-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}
.gg-remove-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}
.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px;
}
.gg-info::after {
  bottom: 2px;
  height: 8px;
}
.gg-info::before {
  height: 2px;
  top: 2px;
}
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}
.gg-trash-empty {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}
.gg-trash-empty::after,
.gg-trash-empty::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash-empty::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}
.gg-trash-empty::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

/* Table style */

table.requirements {
  border: 1px solid #1c6ea4;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.requirements td,
table.requirements th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.requirements tr:nth-child(even) {
  background: #eeeeee;
}
table.requirements thead {
  border-bottom: 2px solid #444444;
}
table.requirements thead th {
  font-weight: bold;
}
table.requirements tfoot td {
  font-size: 14px;
}
table.requirements tfoot .links {
  text-align: right;
}
table.requirements tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* Override styles already on the page that are too general */

div input.ag-input-field-input {
  height: auto;
}

div button.ag-button {
  margin: auto;
}

/* Nicer text wrapping in tables */
.ag-cell.ag-cell-wrap-text {
  line-height: unset;
  overflow-y: auto;
  word-break: unset;
}

/* Openable details */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/* Congratulations */
.overlay-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  pointer-events: none;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.overlay-message.fade-out {
  opacity: 0;
}

.rainbow-text {
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
